.page-tweet .isLiked {
  color: red;
}
.page-tweet .isLiked svg {
  color: red;
}

.page-tweet__body--stats {
  display: flex;
  align-items: center;
}

.trash-icon {
  position: absolute;
  left: 15px;
  top: 15px;
}
Link {
  cursor: pointer;
}

.likes {
  .like {
    position: absolute;
    right: 20px;
    bottom: 40px;
    .toottip {
      background-color: rgb(211, 211, 211);
      padding: 2px;
      height: 25px;
      display: none;
      line-height: 25px;
      gap: 10px;
    }
  }
  &:hover {
    .visible {
      display: flex;
    }
  }
}
